.qc-custom-header {
    padding: 20px 60px;

    .header-action-btn {
        background-color: var(--qc-white) !important;
        border-color: var(--qc-white) !important;
        color: var(--qc-black) !important;
        text-wrap: nowrap;

        &:hover {
            background-color: var(--qc-white) !important;
            color: var(--qc-black) !important;
        }
    }

    &.sticky-active {
        // background: rgb(11 34 62 / 85%);
        background: var(--qc-primary);
        padding: 0px 60px;
        backdrop-filter: blur(5px);
        position: sticky;

        // .navbar-brand {
        //     img {
        //         filter: brightness(0) invert(1);
        //     }
        // }

        .main-nav>li>a {
            color: var(--qc-white) !important;
            font-size: 1.1rem !important;

            // &::after {
            //     content: "";
            //     position: absolute;
            //     top: 0;
            //     right: 0;
            //     width: 1px;
            //     height: 100%;
            //     background: linear-gradient(to bottom, transparent 25%, var(--qc-secondary) 25%, var(--qc-secondary) 75%, transparent 75%)
            // }

            // &:last-child {
            //     &::after {
            //         display: none;
            //     }
            // }

            // &:hover {
            //     &::after {
            //         opacity: 1;
            //     }
            // }

            &::before {
                content: "";
                width: calc(100% - 20px);
                height: 40px;
                background-color: var(--qc-secondary);
                border-radius: 5px;
                position: absolute;
                left: 10px;
                bottom: 20px;
                transition: var(--standard-medium);
                transform: scale(0);
                z-index: -1;
            }

            &.page-active {
                &::before {
                    transform: scale(1);
                }
            }

        }

        .header-module {
            .btn-solid {
                span {
                    color: rgb(var(--qc-black)) !important;
                }
            }
        }
    }
}

.nav-seperator {
    width: 2px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .line {
        height: 40px;
        width: 100%;
        background: var(--qc-secondary);
    }
}

.qc-subnav-parent {
    position: relative;

    .icon-arrow {
        margin-left: 10px;
        font-size: .8rem;
        transition: var(--standard-medium);
    }

    .qc-subnav {
        position: absolute;
        top: 70px;
        background-color: var(--qc-white);
        color: var(--qc-dark);
        list-style: none;
        border-radius: 5px;
        overflow: hidden;
        width: 200px;
        padding: 5px;
        transition: var(--standard-slow);
        transform: translateY(50px);
        opacity: 0;
        @include disable_interaction();

        li {
            width: 100%;
            height: 100%;
            // margin-bottom: 5px;

            a {
                color: var(--qc-dark);
                width: 100%;
                height: 100%;
                display: block;
                text-align: left;
                border-radius: 5px;
                padding: 8px 5px 8px 15px;
                transition: var(--standard-medium);
                user-select: none;

                i {
                    font-size: .8rem;
                    margin-left: 2px;
                    transition: var(--standard-medium);
                }

                &:hover {
                    background-color: var(--qc-primary);
                    color: var(--qc-white);

                    i {
                        margin-left: 6px;
                    }
                }
            }

            // &:last-child {
            //     margin-bottom: 0px;
            // }
        }
    }

    &:hover {
        .qc-subnav {
            @include enable_interaction();
            transform: translateY(0px);
            opacity: 1;
        }

        .icon-arrow {
            transform: translateY(2px);
        }
    }
}


.nav-accordian {
    padding: 15px 25px;
    border-bottom: 1px solid #f3f3f3;

    .accordion-content {
        border-left: 2px solid var(--qc-primary);
        margin-top: 10px;
        padding: 0px;
        padding-left: 10px;

        li {
            padding: 10px 0px;
            border-bottom: 1px solid #f3f3f3;

            &:last-child {
                border-bottom: 0px;
            }
        }
    }
}

.navbar-brand-inner {
    .logo-default {
        width: 30%;
    }
}